
<div class="row"> 
<div class="col-sm-4"> </div>
<div class="col-sm-4">

  <h2> Categories </h2>

  <% @categories.each do |category| %>

     <div class="row">
        <div class="col-sm-12">
        <%= link_to(category.name, "/categories/" + category.id.to_s + "/show") %>
        </div>
    </div>

  <% end %>

</div>

<div class="col-sm-4"> </div>

</div>


   

