
<h2> Categories </h2>
<div class="row">
  <table class="table categories col-12">

  <% @categories.each do |category| %>

    <tr class="category_name  ">
      <td><%= category.name %></td>
    </tr>

    <tr class="display_course hidden">
      <% category.courses.each do |course| %>
          <td>
              <%= link_to(course.name, "courses/" + course.id.to_s + "/show")%>
          </td>
      <% end %>
    </tr>

  <% end %>

  </table>
</div>





